.menuNav{
    width: 100%;
    height: 10vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 0.5px solid black;
    overflow: hidden;

}
.menuList{
   list-style-type: none;
   display:inline-flex;
   flex-direction: row;
   flex-wrap: wrap-reverse;
   align-items: center;
   position: fixed;
   top: 101px;
}
.menu-li{
    display: inline;
    margin: 0 15px;
}
