
header{
    position: fixed;
    width: 100%;
    padding:0 ;
    margin: 0;
    color: black;
    overflow: hidden;
    border:0.5px solid black;
    height: 54px;
    background-color: white;
    /* z-index:1; */

} 
ul{
    position: relative;
    display:flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;


}
li { 
    position: relative;
    bottom: 35px;
    border: 1px solid black;
    margin: 0.5em;
    padding: 0.5em;
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
}

a{
    color: black;

}
a:hover {
    color: black;
    text-decoration: line-through;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 50px;
    height: 50px;

    cursor: pointer;
}

.nav-links{
    list-style: none;
}
nav-links li {
    display: inline-block;
    padding: 0px 20px;
}
nav-links li  {
    transition: all 0.3s ease 0s;
}
nav-links li:hover {
    color: green;
}

