
h1{
    font-family: 'Poiret One', cursive;    
    text-align: center;
    position: fixed;
    top: 100px;
}

.loginContainer{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: relative;
    top: 150px;
    height: auto;
    overflow: hidden;
    border-style: solid hidden solid hidden;
    border-width: 2px;
    border-color: lightgrey;
    box-sizing: border-box;


}
.formInfo{
    position: relative;
    bottom: 20px;
}
.loginInfo{
    margin: 0;
    padding: 0;
    /* display: flex;
    justify-content: center; */
    align-items: center;
    position: absolute;
    top: 400px;
 
}
p{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding:0;
}

input{
    border-style: hidden hidden solid hidden;
    border-width: 0.2px;
    outline: none;
    opacity: 50%;

}

.button-btn{
  margin: 0;
  position: absolute;
  width: 30%;
  top: 79%;
  left: 43%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid black;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.button-btn:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color:#f6f6f6;
}
.button-btn:active {
  position: absolute;
  width: 50%;
  top: 90%;
  left: 50%;
}
.rememberMe{
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}
.forgotPassword{
    position: relative;
    left: 180px;
    bottom: 15px;

}
.signInLink{
    position: relative;
    bottom: 5px;
}