
 /* .card {
    margin: 0;
    padding: 0;
    width: 30%;
    top: 490px;
    left: 300px;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
} */
/* .card-body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
} */
/* .card-img-top{
    height: 400px;
    opacity: 70%;

} */
.card{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background-color: white;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    /* position: absolute; */
    top: 510px;
    /* right: 500px; */

}
/* .card:hover{
    opacity: 0.3;
} */
.card-img-top{
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    height: auto;
    /* transition: .5s ease;
    backface-visibility: hidden; */
    opacity: 70%;
    /* opacity: 1; */
}
/* .card-img-top:hover{
    transition: .5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;

} */
.btn-outline-dark {
    border-color: #343a40;
    color: black;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/* .btn-outline-dark:hover{
    opacity: 1;
} */