
 .card {
    /* margin: 0;
    padding: 0; */
    width: 30%;
    top: 490px;
    /* left: 300px; */
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-body{
    /* margin: 0;
    padding: 0; */
    display: flex;
    justify-content: center;
}
.card-img-top{
    height: 400px;
    opacity: 70%;

}
.btn-outline-dark {
    border-color: #343a40;
    position: absolute;
    right: 300px;
    top: 300px;
}