.container{
    display: flex;
    justify-content: center;

}
.jumbotron-fluid {
    border-radius: 0;
    position: absolute;
    margin:0;
    width: 95%;
    height: 50%;
    top: 130px;
    padding: 0;
    display: inline-flex;
    justify-content: center;

}
.display-4{
    position: absolute;
    top: 60px;
    text-align: center;
}
.lead{
    position: absolute;
    top: 30px;
}
